--
-- PostgreSQL database dump
--

\restrict 8xq6kFZ84fyKKWX6tnqnK8YxO1VdLhf00KgrDid0eJTJmsOCweInPZm2EmPOvjs

-- Dumped from database version 14.19 (Debian 14.19-1.pgdg13+1)
-- Dumped by pg_dump version 14.19 (Debian 14.19-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Order" (
    id text NOT NULL,
    total double precision NOT NULL,
    status text DEFAULT 'paid'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Order" OWNER TO postgres;

--
-- Name: OrderItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OrderItem" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "productId" text NOT NULL,
    qty integer NOT NULL,
    status text DEFAULT 'paid'::text
);


ALTER TABLE public."OrderItem" OWNER TO postgres;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    name text NOT NULL,
    price double precision NOT NULL,
    stock integer NOT NULL,
    "imageUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Product" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    name text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Order" (id, total, status, "createdAt") FROM stdin;
cmhbybm8r000413sd9yirby2k	2.99	paid	2025-10-29 12:08:06.731
cmhbyc6my000613sdt2cighns	5.99	paid	2025-10-29 12:08:33.177
cmhbykvrq000813sdq4839b8r	1.5	paid	2025-10-29 12:15:18.984
cmhbypr6p000a13sdg30lamfp	5.99	paid	2025-10-29 12:19:06.336
\.


--
-- Data for Name: OrderItem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."OrderItem" (id, "orderId", "productId", qty, status) FROM stdin;
cmhbybm8r000513sdrag94yzu	cmhbybm8r000413sd9yirby2k	cmhbxnqqk0001pqdqv28wdmv0	1	paid
cmhbyc6my000713sdp6ue215a	cmhbyc6my000613sdt2cighns	cmhbxnqq90000pqdqirux4trs	1	paid
cmhbykvrq000913sdcfi85snx	cmhbykvrq000813sdq4839b8r	cmhbxnqqs0002pqdqe2jz0moq	1	paid
cmhbypr6p000b13sdpj7ib63l	cmhbypr6p000a13sdg30lamfp	cmhbxnqq90000pqdqirux4trs	1	paid
\.


--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Product" (id, name, price, stock, "imageUrl", "createdAt") FROM stdin;
cmhbxnqqk0001pqdqv28wdmv0	Fries	2.99	99	https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?auto=format&fit=crop&w=800&q=60	2025-10-29 11:49:32.828
cmhbxnqqs0002pqdqe2jz0moq	Soda	1.5	199	https://images.unsplash.com/photo-1567306226416-28f0efdc88ce?auto=format&fit=crop&w=800&q=60	2025-10-29 11:49:32.837
cmhbxnqq90000pqdqirux4trs	Cheeseburger	5.99	48	https://images.unsplash.com/photo-1550547660-d9450f859349?auto=format&fit=crop&w=800&q=60	2025-10-29 11:49:32.818
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, email, password, name, "createdAt") FROM stdin;
\.


--
-- Name: OrderItem OrderItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: OrderItem OrderItem_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict 8xq6kFZ84fyKKWX6tnqnK8YxO1VdLhf00KgrDid0eJTJmsOCweInPZm2EmPOvjs

